<div id="container-footer">
    <form id="contact">
        <fieldset class="wrapper">
            <div style="margin: 0 auto; width: 60px; white-space: nowrap;">
                In the end, it all comes down to...
            </div>
            <div style="margin: 0 auto; width: 200px; white-space: nowrap;">
                <span style="font-size: 45%;">g</span><span style="font-size: 50%;">i</span><span
                    style="font-size: 55%;">t</span>
                <span style="font-size: 62%;">c</span><span style="font-size: 69%;">o</span><span
                    style="font-size: 75%;">m</span><span style="font-size: 80%;">m</span><span
                    style="font-size: 86%;">i</span><span style="font-size: 93%;">t</span>
                <span style="font-size: 101%;">-</span><span style="font-size: 110%;">a</span><span
                    style="font-size: 120%;">m</span> "<u><span style="font-size: 190%;">m</span><span
                        style="font-size: 192%;">a</span><span style="font-size: 194%;">k</span><span
                        style="font-size: 195%;">i</span><span style="font-size: 196%;">n</span><span
                        style="font-size: 198%;">g</span><span style="font-size: 200%;"> it </span><span
                        style="font-size: 198%;">b</span><span style="font-size: 196%;">e</span><span
                        style="font-size: 195%;">t</span><span style="font-size: 192%;">t</span><span
                        style="font-size: 192%;">e</span><span style="font-size: 190%;">r</span></u>" <span
                    style="font-size: 120%;">&amp;</span><span style="font-size: 110%;">&amp;</span>
                <span style="font-size: 101%;">g</span><span style="font-size: 93%;">i</span><span
                    style="font-size: 90%;">t</span>
                <span style="font-size: 88%;">p</span><span style="font-size: 80%;">u</span><span
                    style="font-size: 75%;">s</span><span style="font-size: 72%;">h</span>
                <span style="font-size: 69%;">h</span><span style="font-size: 67%;">e</span><span
                    style="font-size: 64%;">r</span><span style="font-size: 62%;">o</span><span
                    style="font-size: 60%;">k</span><span style="font-size: 58%;">u</span>
                <span style="font-size: 54%;">m</span><span style="font-size: 49%;">a</span><span
                    style="font-size: 40%;">i</span><span style="font-size: 30%;">n</span>
            </div>
        </fieldset>

        <fieldset class="wrapper" style="margin-top: 2rem;">
            <legend>Contact Steve</legend>
            <!--ul class="group">
                      <li class="name">
                          <label for="name">Your Name</label>
                          <input type="text" id="name" name="name" />
                      </li>
                      <li class="email">
                          <label for="email">Your Email</label>
                          <input type="email" id="email" name="email" />
                      </li>
                      <li class="message">
                          <label for="message">Say Hello</label>
                          <textarea id="message" name="message"></textarea>
                      </li>
                  </ul-->

            <!--input class="send" type="submit" name="submit" value="Send"-->
            <span style="font-size: 150%;">sbreese@gmail.com</span>
            <!--div>
        Or submit a message to him via the contact form on the
        <a href="https://www.fix-a-drink.com/">Fix-A-Drink</a> website
      </div-->
        </fieldset>
    </form>
    <footer id="colophon" class="wrapper">
        <p>&copy;<%=new Date().getFullYear()%> all rights reserved.</p>
    </footer>
</div>