<div id="container-header">
    <header id="masthead" class="wrapper">
        <figure id="maya">
            <div data-picture data-alt="Steve Breese - full stack web developer">
                <div data-src="img/HEADSHOT_Small.png"></div>
                <div data-src="img/headshot-m.png" data-media="(min-width: 45em)"></div>
                <div data-src="img/HEADSHOT_Big.png" data-media="(min-width: 60em)"><!-- ORIGINAL: headshot-l.png -->
                </div>
                <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                <noscript>
                    <img src="img/headshot-s.png" alt="Maya Chopra">
                </noscript>
            </div>
        </figure>

        <h1>Steve Breese</h1>

        <h2>A Chicago-based Full-stack JavaScript Developer</h2>
    </header>
</div>