<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <div id="container-nav">
    <section id="nav" class="group wrapper">
      <h3>Steve Breese</h3>
      <!-- Checkbox Hack markup -->
      <input type="checkbox" id="toggle" />
      <label for="toggle" onclick>Menu</label>
      <!-- /Checkbox Hack markup -->
      <%- include ("../partials/nav.ejs") %>
    </section>
  </div>
  <%- include ("../partials/header-html.ejs") %>

      <div id="container-content">
        <article id="content">

          <p>I am currently in the process of re-building my personal website and hope to restore the missing pages & content as soon as possible.</p><br>— Steve Breese
  
        </article>
      </div>
      <%- include ("../partials/footer.ejs") %>

</body>
</html>
