<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header.ejs") %>
    <link href="./stylesheets/app/Node-js-uploader.css" rel="stylesheet">
    <title>Node.js File Uploader with Progress Bar, Validation, Live List, Email Notification, & Form Reset</title>
</head>
<body lang="en">
<div id="container-nav">
    <section class="group wrapper" id="nav">
        <h3><a href="/" style="padding: 0">Steve Breese</a></h3><!-- Checkbox Hack markup -->
        <input id="toggle" type="checkbox"> <label for="toggle" onclick="">Menu</label> <!-- /Checkbox Hack markup -->
        <%- include ("../partials/nav.ejs") %>
    </section>
</div><%- include ("../partials/header-html.ejs") %>
<div id="container-content">
    <article id="content">
        <!-- Classes removed / #portfolio -->
        <!-- Element(s)/Classes added from Bootstrap's Scaffolding -->
        <section class="container-fluid" id="portfolio">


            <link href="./stylesheets/app/app-demo.css" rel="stylesheet">
            <script src="https://use.fontawesome.com/c76a6ebbea.js"></script>
            <div class="header">
                <h1 class="h1">Node.js Uploader</h1>
            </header>


            <div class="row">
                <div class="btn-wrap">
                    <div class="btn">
                        <a href="https://github.com/sbreese/Node.js-Uploader-with-Progress-Bar/archive/master.zip"><i class="fa fa-file-zip-o"></i> Download Zip</a>
                    </div>
                    <div class="btn">
                        <a href="https://github.com/sbreese/Node.js-Uploader-with-Progress-Bar"><i class="fa fa-github"></i> View on GitHub</a>
                    </div>
                </div>
                <article class="col-md-12">
                    <!-- ///////////////////////// BEGIN CONTENT ///////////////////////////// -->
                    <div class="container" id="uploader">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-default" id="msg-from-server-div" style="display: none">
                                    <div class="panel-body" id="server-msg"></div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <span class="glyphicon glyphicon-cloud-upload"></span>
                                        <h2 class="Node-js_Uploader_Title">Node.js Uploader</h2>
                                        <h4>with Validation, Live List, Email Notification, & Form Reset</h4>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar"></div>
                                        </div><button class="btn btn-lg upload-btn" type="button">Upload File</button>
                                        <div id="fileTypes">
                                            Accepted File Types: <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h5>Live List</h5>
                                        <ul id="file-list" style="list-style: none;"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><input id="upload-input" multiple="multiple" name="uploads[]" type="file"><br>
                    <p>This is an enhanced version of Fady Makram's <a href="https://coligo.io/building-ajax-file-uploader-with-node/">File Uploader</a>. Enhancements I have implemented include:</p>
                    <ul>
                        <li><q>File Size & Type Validation</q>, which prevents abusive use of the uploader</li>
                        <li><q>Live List</q>, which displays all files currently in the /upload directory and highlights the newly uploaded file</li>
                        <li><q>Status Bar</q>, which notifies the user of successful vs. failed uploads</li>
                        <li><q>Email Notification</q>, which automatically sends an email from a specified email account to any email address</li>
                        <li><q>Form Reset</q>, which returns the form to its original state when uploads complete</li>
                    </ul>
                    <p></p>
                    <script src="https://code.jquery.com/jquery-2.2.0.min.js">
                    </script>
                    <script>
                        var acceptableExt = ["pdf","png","jpg","gif","mp4","mov","avi","txt","mpeg4","flv"];
                        //$.each(acceptableExt,function( key, val ) {
                        $("#fileTypes span").append( acceptableExt.join(", "));
                        //});

                        $('.upload-btn').on('click', function (){
                            $('#upload-input').click();
                            $('.progress-bar').text('0%');
                            $('.progress-bar').width('0%');
                        });

                        $('#upload-input').on('change', function(){

                            $('.upload-btn').prop('disabled', true);

                            var files = $(this).get(0).files;

                            $("#msg-from-server-div").slideUp("slow");
                            $("#server-msg").html("");
                            if (files.length > 0){
                                // create a FormData object which will be sent as the data payload in the
                                // AJAX request
                                var formData = new FormData();

                                // loop through all the selected files and add them to the formData object
                                for (var i = 0; i < files.length; i++) {
                                    var file = files[i];

                                    // add the files to formData object for the data payload
                                    formData.append('uploads[]', file, file.name);
                                }
                                $("#server-msg").html("<h4 style='margin-bottom: 0'>Upload in Progress!<\/h4><br><strong>0% complete<\/strong>");
                                $("#msg-from-server-div").slideDown("slow");

                                $.ajax({
                                    url: '/Node-js-Uploader',
                                    type: 'POST',
                                    data: formData,
                                    processData: false,
                                    contentType: false,
                                    success: function(data){
                                        console.log('upload successful!\n' + data);
                                        console.log("which is type: ", typeof data);
                                        LiveList(file.name, data);
                                    },
                                    xhr: function() {
                                        // create an XMLHttpRequest
                                        var xhr = new XMLHttpRequest();

                                        // listen to the 'progress' event
                                        xhr.upload.addEventListener('progress', function(evt) {

                                            if (evt.lengthComputable) {
                                                // calculate the percentage of upload completed
                                                var percentComplete = evt.loaded / evt.total;
                                                percentComplete = parseInt(percentComplete * 100);

                                                // update the Bootstrap progress bar with the new percentage
                                                $('.progress-bar').text(percentComplete + '%');
                                                $('.progress-bar').width(percentComplete + '%');
                                                $("#server-msg").html("<h4 style='margin-bottom: 0'>Upload in Progress!<\/h4><br><strong>"+percentComplete+"% complete<\/strong>");

                                                // once the upload reaches 100%, set the progress bar text to done
                                                if (percentComplete === 100) {
                                                    $('.progress-bar').html('Done');
                                                }

                                            }

                                        }, false);

                                        return xhr;
                                    }
                                });

                            }
                        });

                        // BEGIN live list:
                        function LiveList(thisFile, serverMsg) {
                            if (serverMsg) {
                                $("#server-msg").html("<h4>"+serverMsg+"<\/h4>");
                                $("#msg-from-server-div").slideDown("slow");
                                setTimeout(function(){ $("#server-msg").html("");
                                    $("#msg-from-server-div").slideUp("slow");
                                }, 4000);

                                $('.progress-bar').text('0%');
                                $('.progress-bar').width('0%');
                                $('.upload-btn').prop('disabled', false);
                            }
                            $.get("/Upload-List", function(data, status){
                                console.log("Data: " + data + "\nStatus: " + status);
                                $("#file-list").empty();
                                $.each(data, function( index, value ) {
                                    console.log( index + ": " + value );
                                    $("#file-list").append('<li'+ (thisFile && thisFile == value?' style="color: green; font-weight: bold"':'') + '><a href="/uploads/'+value+'">' + value + '<\/a><\/li>');
                                });
                            });

                        }
                        LiveList();
                    </script> <!-- /////////////////////////  END CONTENT ////////////////////////////// -->
                </article>
            </div>
        </section>
    </article>
</div><%- include ("../partials/footer.ejs") %>
</body>
</html>