<!DOCTYPE HTML>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
  <head>

    <%- include ("../partials/header.ejs") %>

  </head>

  <body lang="en">
    <div id="container-nav">
      <section id="nav" class="group wrapper">
        <h3><a href="/" style="padding: 0">Steve Breese</a></h3>
            <!-- Checkbox Hack markup -->
            <input type="checkbox" id="toggle" />
            <label for="toggle" onclick>Menu</label>
            <!-- /Checkbox Hack markup -->
            <%- include ("../partials/nav.ejs") %> 
      
      </section>
    </div>
    <%- include ("../partials/header-html.ejs") %>
    <div id="container-content">
      <article id="content">
      
      <!-- Classes removed / #portfolio -->
      <!-- Element(s)/Classes added from Bootstrap's Scaffolding -->
      
        <section id="portfolio" class="container-fluid">
        
                    <header>
                        <h3>Single Page Applications</h3>
                        <p>Some of the single page web apps I have developed</p>
                    </header>
                    
                    <div class="row">
                    
                        <article class="col-md-6">


                          <h3>Jewelers Mutual - Partner Gateway</h3>
						
                          <p>
                            As a Lead Developer on the project, I was responsible for building out the application's main UI/UX, data store, router, configuration and API classes. The application was built with Vue.js, which has proven to be a robust and developer friendly frontend platform. I lead a team of 2 other developers and ensure our code meets the best practice laid out in Vue.js's Style Guide. We were able to get phase 1 of the project complete in just 1 month despite only receiving the necessary APIs halfway through. I also built out additional views and components to support complete CRUD operations for the policy data.
                          </p>
                          <div style="max-width: 700px; margin-bottom: 100px;"><a href="https://www.youtube.com/watch?v=BMa7cJsVk8k&feature=youtu.be&t=101"><img src="/img/screenshots/Web-Applications/SCREEN_Jewlers_Mutual_Partner_Gateway.png" width="550" height="380" border="0" title="" alt=""></a></div>

                                      
                                      


						<h2>Village of Woodridge</h2>

<p>
I was given a pre-built web application and asked to enhance it with data filtering capabilities.  I coded an HTML5 slider and determined where the data inputs and outputs were located within the cryptic JavaScript code.  There I coded custom objects to store the data and an event listener that automatically hides sites that are not within the specified acreage and square footage range.  I was told by my contact that the Village staff is now <q>loving the new <a href="https://woodridgeil.maps.arcgis.com/apps/MapJournal/index.html?appid=a8b6b9322d384c269c1f464bad8b500e">Available Sites</a> app</q>.
</p>
<div style="max-width: 700px; margin-bottom: 100px;"><a href="https://woodridgeil.maps.arcgis.com/apps/MapJournal/index.html?appid=a8b6b9322d384c269c1f464bad8b500e"><img src="/img/screenshots/Web-Applications/SCREEN_Woodridge_Available_Sites.png" width="550" height="386" border="0" title="" alt=""></a></div>
<!--div style="max-width: 700px; margin-bottom: 100px;"><a href="http://gis.vil.woodridge.il.us/WoodridgeSites/-->

						
<h2>United Airlines</h2>
<p>
At United Airlines, I help develop the front ends for two important web applications.&nbsp;
As a Senior Developer, I was assigned challenging enhancements that involved creating new screens or modal dialogs, mapping data from a JSON object to table and form features, and
programming save buttons that call web service APIs.&nbsp; Additionally, I fixed numerous JavaScript, HTML and CSS bugs that arose in various environments.
</p>

<h3>&quot;Aero Flight Check-In&quot;</h3>

<div>&nbsp; Within Aero, I integrated Knockout data bindings into the Bags Routing HTML template and coded the observables and functionality into
the view model.  The dialog allows airline agents to check-in bags for some or all of the flight segments, as well as add interline connections so that the bags correctly
get routed to the passenger's final destination.&nbsp;</div>

<div style="max-width: 700px; margin-bottom: 100px;"><img src="/img/screenshots/Web-Applications/SCREEN_Aero_BagRouting.png" width="550" height="376" border="0" title="" alt=""></div>


<h3>&quot;Contact Centers customer account creation and flight shopping application&quot;</h3>
<div>Within Contact Centers application, I utilized custom Knockout bindings to enable drag and drop sorting, expand/collapse of sub-forms, and the programming of add and delete buttons. &nbsp;I was also responsible for integrating all HTML and CSS delivered by an external design firm.
</div>
<div style="margin-bottom: 100px;"><img src="/img/screenshots/Web-Applications/SCREEN_ContactCenters_Drag_and_Drop.png" width="600" height="390" border="0" title="" alt=""></div>

<h3>Nokia HERE</h3>

<div>At Nokia HERE, I managed several aspects of my product team's software development process
and our product production workflow.&nbsp; As a Senior System Engineer, I was constantly on the lookout for problems and bottlenecks.&nbsp; I developed a strong knack for identifying better ways of doing things, and always seek to make everyone's job easier.&nbsp; In this capacity, I developed several Single Page Applications that are used by the POI product team.
</div>



<h3>&quot;System Software Versions&quot;</h3>
<div>
  Maintaining a 10 high capacity proprietary GIS&nbsp; systems in full working order is almost as difficult as keeping important ancillary information about them update to date.&nbsp; This tool automatically (via cron job or a button click), <q>scrapes</q> the version and build information from numerous software applications, stores it in a Oracle database, and displays it for the user.  Technologies include JQuery/AJAX, PHP and PostgreSQL.
</div>
<div style="max-width: 700px">
  <img alt="" title="" src="/img/screenshots/Web-Applications/SCREEN_EnvironmentVersionTool.png" border="0" width="700" height="330" />
</div>




                        </article>

    
                        <article class="col-md-6">

<h3>&quot;Automated Environments Information Tool&quot;</h3>
<div>A partner application of the Software Version tool, the <strong>Automated Environment Information Tool</strong> has become the most popular web application for the 48 member product team.&nbsp; DevOps and developers use it as a starting point for their work to determine where system resources are located, how they are configured, and to obtain their status.&nbsp; It has been proven as a critical tool for the DevOps team to maintains 10 complicated systems in full working order.
</div>
<div style="max-width: 700px; margin-bottom: 100px;"><img alt="" title="" src="/img/screenshots/Web-Applications/SCREEN_EnvironmentInfoTool.png" border="0" width="900" height="471">&nbsp;</div>

<h3>&quot;Product Delivery Monitoring Tool&quot;</h3>
<div>
<p>It takes a lot of work to load and operate a high capacity, proprietary GIS system.&nbsp; <strong>But at the end of the day, the POI Team has to be turning a profit!</strong>&nbsp; This tool monitors and reports on our main product pipeline to our customers and alerts engineers when something gets clogged up.</p>
</div>
<div style="margin-bottom: 100px;"><img alt="Product Delivery Monitoring Tool" title="Product Delivery Monitoring Tool" src="/img/screenshots/Web-Applications/SCREEN_AutomatedExtractTool.png" border="0" width="700" height="459" /></div>

<h3>&quot;Configuration Across Environments&quot;</h3>
<div>This custom-built web application displays reams of tabular data on an easy to use user interface.  The tool supports MS Access-like data editing, sorting, filtering and scrolling.</div>

<div style="max-width: 700px; margin-bottom: 100px;"><img alt="" title="" src="/img/screenshots/Web-Applications/SCREEN_ConfigAcrossEnviron.png" border="0" width="1115" height="634" /></div>

<h3>&quot;Customer Communications Tool&quot;</h3>

<p>A popular tool with the Operations Team, this web-based application automatically formulates and composes MS Outlook emails based on the selection of 12 UI components. </p>

<div style="max-width: 700px; margin-bottom: 100px;"><img alt="" title="" src="/img/screenshots/Web-Applications/SCREEN_Customer_Communications_Tool.png" border="0" width="851" height="999" /></div>

<h3>&quot;SQL Training Tool&quot;</h3>
<p>I developed this web-based training tool to teach, interactively, Structured Query Language to about 20 Nokia HERE employees.  The tool requests confirmation from the user if statement execution would affects all rows of the table.</p>
<div style="max-width: 700px; margin-bottom: 100px;"><img alt="" title="" src="/img/screenshots/Web-Applications/SCREEN_SQL_Training_Tool.png" border="0" width="725" height="1000">
</div>

<h3>&quot;Property Scraper/Property Validator&quot;</h3>

<p>This tool automatically detects and displays Linux folder structure and displays directories in dropdown menus.  Upon selecting a software version, the tool automatically scans and processes certain configuration files.  The values from specified properties are scraped and stored in an PostgreSQL database, along with the full contents of the file.&nbsp; Who needs grep, sed and awk?&nbsp;  These web-based tools parse and process thousands of lines of text in a matter of seconds, via a single click of a button!
</p>

 <div style="max-width: 700px; float: left"><img alt="" title="" src="/img/screenshots/Web-Applications/SCREEN_PropertyScraper.png" border="0" width="390" height="591"></div>
  <div style="max-width: 700px; margin-bottom: 100px;"><img alt="" title="" src="/img/screenshots/Web-Applications/SCREEN_Validator_Tool.png" border="0" width="421" height="460">
  </div>

<h3 style="clear: both">&quot;Command Reference Tool&quot;</h3>
<div>This tool allows the user to select various system commands and interactively edit (either through the UI or direct text editing) them right in their browser.  URLs are produced for each formatted command making it easy to return exactly where you left off.&nbsp; Full CRUD operations are supported via an intuitive user interface. </div>
<div style="margin-bottom: 100px;"><img alt="" src="/img/screenshots/Web-Applications/SCREEN_Hadoop-Unix_Command_Reference.png"></div>

<h3>Automated Tracking Sheet</h3>
<p>
This tool monitors the progress of multi-step distributed computing processes by scraping information from log files and displaying the results on a user-friendly web-based interface.  The tool allows the user to launch batch jobs from any step in the process. Job status information is automatically updated based on the underlying data.  All data is filterable, sortable, and  scrollable.</p>
<div style="margin-bottom: 100px;"><img alt="" title="" src="/img/screenshots/Web-Applications/SCREEN_Automated_Tracking_Sheet.png" border="0" width="1500" height="398"></div>

<h3>&quot;Running Batch Jobs&quot;</h3>
<p>
Compared with the Automated Tracking Sheet, the Running Batch Jobs tool provides a finer grain of job monitoring capabilities.   Running Batch Jobs scrapes live information about running MapReduce jobs from Hadoop JobTracker, cross-references it with metadata from the Automated Tracking Sheet,  and calculates useful inferences about the currently running jobs.</p>
<div style="margin-bottom: 100px;"><img alt="" title="" src="/img/screenshots/Web-Applications/SCREEN_Running_Batch_Jobs.png" border="0" width="820" height="387"></div>

                        </article>
                        
                        </div>                
                    </div>
                    
                </section>
    
      </article>
    </div>
   <%- include ("../partials/footer.ejs") %>
  </body>
</html>
